<p>thêm mới</p>
<ng-template #tableTemplate>
    <table class="datatable">
        <thead>
            <tr>
                <th *ngFor="let col of columns" [style.width]="col.width">{{ col.label }}</th>
            </tr>
        </thead>

        <tbody *ngIf="!isLoading && rows.length > 0">
            <tr *ngFor="let row of rows">
                <td *ngFor="let col of columns">
                    {{ row[col.field] }}

                </td>
            </tr>
        </tbody>


    </table>
</ng-template>

<!-- Scroll -->
<div *ngIf="pagingMode === 'scroll'" class="datatable-container scroll" (scroll)="onScroll($event)">
    <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
</div>

<!-- Paging -->
<div *ngIf="pagingMode === 'paging'" class="datatable-container paging">
    <ng-container *ngTemplateOutlet="tableTemplate"></ng-container>
</div>
<div *ngIf="pagingMode === 'paging'">

    <app-pagination [totalItems]="rows.length" [itemsPerPage]="10"></app-pagination>
</div>