.pagination {
    margin-top: 30px;
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #009900;
}

.pagination a:hover:not(.active) {
    background-color: #d4d5d2;
}